@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  
.text-center
{
    text-align: center;
    
}
.btn
{
    padding: 0.5rem 1rem;
background-color: black;
color: white;
border: 2px solid #fffefc;
cursor: pointer;
margin: 13px;
text-transform:uppercase;
font-family: 'Roboto', sans-serif;

}
.btn:hover
{
    font-weight: bold; 
}
.slider 
{
    margin:12px 0px;
    
    
}
.card-text
{
    text-align: center;
}
.D1
{
    margin: 7px 0px;
}
.D1:hover
{
    color: blue;
    cursor: pointer;
    font-weight: 700;
}
.image_size
{
    height: 11.4rem;
    width: 11.438rem;
}
